$colors: (
  primaryColor: #2b2a6c,
  secondaryColor: #008000,
  darkColor: #090b17,
  accentColor: #e32934,
  whiteColor: #ffffff,
  lightOrange: #f4785c,
  borderLightColor: #dddddd,
  cardTagsColor: #d3d3d3,
);
