* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  color: black;
  padding: 0;
  margin: 0;
}

main {
  margin-bottom: 3rem !important;
}

input {
  padding: 0.75rem;
  margin-bottom: 1rem;
}

ul {
  padding-left: 0;

  li {
    list-style: none;
  }
}
a {
  color: green;
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}
.container-full {
  width: 100%;
  padding: 0 1rem;
}

.btn-primary {
  background-color: green;
  border: none;
  border-radius: 10px;
  padding: 0.75rem 1rem;
  color: white;
  cursor: pointer;
  display: inline-flex;
  width: auto;
  align-items: center;

  svg {
    margin-right: 0.5rem;
    width: 1.2rem;
    height: 1.2rem;
  }
}
.btn-primary-outline {
  background-color: white;
  border: 1px solid green !important;
  border-radius: 10px;
  padding: 0.75rem 1rem;
  color: green;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

// Navigation
.top-nav {
  background-color: black;
  color: white;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .top-nav_column {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      div {
        display: inline-flex;
      }

      a {
        color: white;
        display: flex;
        align-items: center;
      }
      svg {
        width: 18px;
        height: 18px;
        margin-right: 0.5rem;
      }
    }
  }
}

// Sell Car
.sell-car {
  text-align: center;
  border-radius: 15px;
  border: 1px solid #dddddd;
  padding: 1rem;
}

.site-navigation {
  margin-bottom: 5rem;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .logo {
      img {
        height: 30px;
      }
    }
    .nav-elements {
      ul {
        padding: 0;
        margin: 0;
      }
    }
    .nav-items {
      display: flex;
      align-items: center;
      .nav-item {
        display: flex;
        align-items: center;
        padding: 1.5rem 1rem;
        color: black;

        &:hover {
          background-color: green;
          color: white;
        }

        svg {
          margin-right: 0.5rem;
          width: 1.2rem;
          height: 1.2rem;
        }
      }
      .btn-primary {
        color: white;
      }
    }
    .profile-sell {
      display: flex;
      align-items: center;
      margin-left: 4rem;

      .px {
        margin: 0 1rem;
      }
    }
  }
}

.navbar {
  height: 60px;
  background-color: #ffffff;
  position: relative;
}
.menu-icon {
  display: none;

  .line {
    width: 30px;
    height: 1px;
    background-color: black;
    margin-bottom: 0.5rem;
  }
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

// Footer
footer {
  background: #000;
  color: white;
  padding: 2rem 0;
  img {
    height: 60px;
  }
  .copyrights {
    display: flex;
    gap: 0.5rem;
  }
}

// Cars List
.cars {
  h1 {
    margin: 0;
  }
  .header-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .Dropdown-root {
      width: 200px;
    }
  }
}

.cars-list {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}

.cars-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 1rem;

  .car-card {
    position: relative;
    gap: 1rem;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 1rem;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    .card-body {
      p {
        font-size: 0.8rem;
      }
    }

    &:hover {
      border: 1px solid rgb(0, 0, 0);
    }

    .card-image {
      img {
        width: 100%;
        height: 160px;
        object-fit: cover;
        position: relative;
        z-index: -1;
      }
    }
    .sale {
      position: absolute;
      right: 10px;
      top: 10px;
      height: 30px;
      background-color: green;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
      font-size: 0.75rem;
      border-radius: 100%;
    }
    .price {
      color: green;
    }

    .card-header {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      gap: 0.5rem;

      h3 {
        margin: 0;
      }
      h5 {
        margin: 0;
        font-size: 18.72px;
        color: rgb(120, 120, 120);
      }
    }

    .card-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        margin: 0;
      }
    }
    .car-specifications {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      p {
        background-color: rgb(211, 211, 211);
        padding: 0.35rem;
        font-size: 0.75rem;
        margin: 0;
        border-radius: 5px;
      }
    }
    .card-flex {
      display: flex;
      align-items: center;

      svg {
        margin-right: 0.5rem;
      }
    }
  }
}

// Carslist Widget
.carslist-widget {
  position: sticky;
  top: -40px;
  height: 200vh;

  img {
    width: 100%;
    height: 140px;
    object-fit: contain;
  }

  .car-box {
    border: 1px solid rgb(217, 217, 217);
    margin-bottom: 1rem;
    border-radius: 10px;
  }

  .widget-card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0;
  }

  .widget-card-header {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
  }

  p {
    margin: 0;
  }
  .newest-cars {
    h2 {
      margin: 0;
      margin-bottom: 24px;
    }
  }
}

// Carousel
.react-multi-carousel-list {
  img {
    width: 100%;
    height: 360px;
    object-fit: scale-down;
  }
}

// Car Details
.car-details {
  .car-details-content {
    display: grid;
    grid-template-columns: 2.5fr 2fr;
    img {
      width: 600px;
    }
  }
}
.related-cars {
  margin: 1rem 0;
  border: 1px solid #d5d5d5;
  padding: 1rem;
  border-radius: 15px;
  ul {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    ); /* see notes below */
    grid-gap: 1rem;

    img {
      width: 240px;
      height: 200px;
      object-fit: contain;
    }
  }
}

// Favourites
.favourites {
  border-radius: 15px;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 1rem;
}

// Currency
.currency-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;

  p:nth-child(odd) {
    color: green;
    font-weight: bold;
  }
  .currency {
    display: flex;
    font-size: 0.75rem;
    gap: 0.35rem;
  }
  p {
    padding: 0;
  }
}

// Breacrumbs
.title-breacrumbs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  .bread-links {
    span {
      margin-right: 0.5rem;
      text-align: end;
    }

    span:nth-child(even) {
      margin-right: 0rem !important;
    }
  }
}

@media (max-width: 992px) {
  .site-navigation {
    padding: 1rem 0;
  }
  .nav-container {
    padding: 1rem;

    .profile-sell {
      margin-left: 0;
    }
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 38px;
    background-color: #ffffff;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.1s ease-in;
    overflow: hidden;
    z-index: 9999;

    .nav-items {
      .nav-item {
        padding: 1.5rem 8rem;
        border-bottom: 1px solid #d4d4d4;
      }
    }

    .profile-sell {
      margin-top: 3rem;
      flex-direction: column;

      a {
        margin-bottom: 1rem !important;
      }
    }
  }

  .nav-elements.active {
    width: auto;
    height: 100vh;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
  .cars-list {
    display: flex;
    gap: 2rem;
    flex-direction: column-reverse;
  }
}

// Responsivness
@media (max-width: 768px) {
  .car-details {
    .car-details-content {
      display: block;
    }
  }
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
  .cars-cards {
    .car-card {
      flex-direction: column-reverse;
    }
  }
}

@media (max-width: 568px) {
  .cars-cards {
    display: block;

    .card-body {
      width: 100%;
    }
    .car-card {
      margin-bottom: 1rem;

      .card-image {
        img {
          width: 100%;
          height: 160px;
        }
      }
    }
  }
}

@media (max-width: 464px) {
  .top-nav {
    .container {
      flex-direction: column;
    }
  }
  .related-cars {
    ul {
      display: block;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 414px) {
  .cars {
    .header-dropdown {
      display: block;

      .Dropdown-root {
        width: 100%;
      }
    }
  }
}
